doctype html

head
  meta(charset="utf-8")
  link(rel="stylesheet",href="/static/semantic.min.css")
  script(src="/static/jquery.min.js")
  script(src="/static/semantic.min.js")

html(lang="en")
  head
    title File Search

  body
    .ui.container
      h1.ui.header(style="margin-top: 1em;") File Search

      form.ui.form(action="/",method="get")

        .fields
          .field
            label(for="idx") Index
            select.ui.dropdown(name="idx")
              each index in indices
                option(value=index.getActualName())= index.getName()

          .field
            label(for="q") Query
            input(type="text",name="q",value=q)

          .field
            label &nbsp;
            input.ui.button(type="submit",value="Search")

      if filenames
        each fname in filenames
          p= fname
      else
        p No results

      if prevPage && nextPage
        a.ui.basic.button(href="/?q=#{q}&idx=#{idx}&page=1")
          i.ui.angle.double.left.icon

        a.ui.basic.button(href="/?q=#{q}&idx=#{idx}&page=#{prevPage}")
          i.ui.angle.left.icon

        a.ui.basic.button(href="/?q=#{q}&idx=#{idx}&page=#{nextPage}")
          i.ui.angle.right.icon

        a.ui.basic.button(href="/?q=#{q}&idx=#{idx}&page=#{totalPages}")
          i.ui.angle.double.right.icon

  script
    $('.ui.dropdown').dropdown();
